<%= form_tag sessions_path do %>
    <div class="row">
      <div class="large-12 columns">
          <%= text_field_tag :username, nil, placeholder: 'Brukernavn' %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= password_field_tag :password,nil, placeholder: 'Passord' %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= submit_tag 'LOGG INN', class: 'button info expand bold' %>
        Eller <%= link_to 'lag en konto', new_user_path, class: '' %>
      </div>
    </div>
<% end %>