<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :username, placeholder: 'brukernavn' %>
  </div>
  <div class="field">
    <%= f.text_field :firstName, placeholder: 'fornavn' %>
  </div>

    <div class="field">
      <%= f.password_field :password, placeholder: 'passord' %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, placeholder: 'bekreft passord' %>
    </div>



  <div class="actions">
    <%= f.submit 'REGISTRER BRUKER', class: 'button expand bold' %>
  </div>
<% end %>