<p id="notice"><%= notice %></p>

<p>
  <strong>Brukernavn:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Fornavn:</strong>
  <%= @user.firstName %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
