<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @interest.user %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @interest.topic %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
