
<% if logged_in? %>

    <!-- Dette vises kun om du er logget inn -->
    <p><b>Du er logget inn som <%= current_user.username %></b></p>
    <%= link_to 'LOGG UT', logout_path, class: 'button' %>

<% else %>

    <!-- Dette vises kun om du IKKE er logget inn -->

    <%= form_tag sessions_path, id: 'loginForm' do %>

    <div id="mainField">
      <div id="infoWrap">
      <h1>Smalltalk</h1>
          <div id="logoContainer">
            <%= image_tag 'http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder.png', class: 'centered', alt: 'logo' %>
          </div>
      </div>
      <div id="formFieldWrap">
            <%= text_field_tag :username,nil, placeholder: 'Brukernavn' %>
            <%= password_field_tag :password,nil, placeholder: 'Passord' %>
      </div>
    </div>


    <div id="signupForm" class="centered">

      <button class="sign-link yellow expand bare" id="loginButton" href="<%= new_user_path %>">
        <div>
            <p>LOGG INN</p>
        </div>
      </button>

      <a class="sign-link" href="<%= new_user_path %>">
        <div class="blue">
          <p>REGISTRER DEG</p>
        </div></a>
    </div>

    <% end  %>

<% end %>